body {
	background-color: #EDFFE6;
}

p{
	text-align: center;
}
@media (min-width:600px) {
  
}
@media (max-width:599px) {

}

.content
{
	max-width: 720px;
	margin:0px auto;/*通用置中方法*/
}

.item
{
	width: calc(100% - 20px);
	height: 200px;	
	margin: 10px;
	background-color: white;
	box-shadow: 
		0 2px 2px 0 rgb(0 0 0 / 12%), 
		0 3px 1px -2px rgb(0 0 0 / 6%), 
		0 1px 5px 0 rgb(0 0 0 / 12%), 
		0 -1px 0.5px 0 rgb(0 0 0 / 9%);
}

.item-title
{
	width: calc(100% - 20px);
	height: 20%;
	margin: 10px;
}

.item-footer
{
	width: calc(100% - 20px);
	height: 100px;	
	margin: 10px;
}

.right{
	position: fixed;
	top: 50px;
	left: calc(50% + 360px);
	width: 200px;
	height: 600px;
	background-color: white;
	box-shadow: 
		0 2px 2px 0 rgb(0 0 0 / 12%), 
		0 3px 1px -2px rgb(0 0 0 / 6%), 
		0 1px 5px 0 rgb(0 0 0 / 12%), 
		0 -1px 0.5px 0 rgb(0 0 0 / 9%);
}
.left{
	position: fixed;
	top: 50px;
	right: calc(50% + 360px);
	width: 180px;
	max-height: 600px;
	height: 400px;
	margin: 10px;
	background-color: white;
	box-shadow: 
		0 2px 2px 0 rgb(0 0 0 / 12%), 
		0 3px 1px -2px rgb(0 0 0 / 6%), 
		0 1px 5px 0 rgb(0 0 0 / 12%), 
		0 -1px 0.5px 0 rgb(0 0 0 / 9%);
}

.icon {
	position: absolute;
	top: 100px;
	left: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}
.img
{
	width: 100%;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}